<%= form_for @workout_session do |f| %>

   <fieldset>
      <legend>Your Latest Workout</legend>
      <%= f.label :descripton %><br/>
      <%= f.text_area :description, :cols => "50", :rows => "5" %>
      <br />
      <%= link_to_function "Add Technique", :id => "add_technique" %>
      <br />
      <div id="new_tag_list">
      </div>
      <%= link_to_function "Add Tag", :id => "add_tag" %>

      <div class="actions">
      <%= f.submit "Submit" %>
      </div>
  
      <%= hidden_field_tag "new_tags" %>
  </fieldset>
<% end %>

<script>
$(document).ready(function(){
  $('#add_technique').click(function(event){ 
     $("#subscription_dialog").dialog({modal:true, 
                                       title:'Techniques', 
                                       position:[event.clientX,event.clientY]});

    return false; //cancel the browser's traditional event.
  });
});

$(document).ready(function(){
  $('#add_tag').click(function(event){ 
     $("#tag_dialog").dialog({modal:true, 
                                       title:'Tags', 
                                       position:[event.clientX,event.clientY]});

    return false; //cancel the browser's traditional event.
  });
});

function add_tags_to_form() {
   alert('save the tags');
   $("#tag_dialog").dialog("close");
}

function tag_checkbox_checked() {
   var tagHTMLText = "";
   $('#tag_dialog input:checked').each(function() {
      if (tagHTMLText != "") {
         tagHTMLText += ", ";
      }
      tagHTMLText += $(this).attr('checked_value');
   });

   $('#new_tag_list').html("Tags: " + tagHTMLText);
   $('#new_tags').html(tagHTMLText);
}

</script>

<%= form_tag '#', :id => 'new_subscription' do %>
    <div id="subscription_dialog" class="modal_dialog" style="display:none;">

        <div class="category-wrapper">
            <div class="category">
               Here's the stuff
            </div>
        </div>
</div>
<% end %>
<%= form_for '#', :id => 'new_subscription' do |form| %>
    <div id="tag_dialog" class="modal_dialog" style="display:none;">

        <div class="category-wrapper">
            <div class="category">
               <%= render  :partial    => 'workout_sessions/tag_checkbox',  
                           :collection => @tags, 
                           :as         => :tag,
                           :locals     => { :form => form } %>
               <%= submit_tag "All Done", :onclick => "add_tags_to_form(); return true;" %>
            </div>
        </div>
</div>

<% end %>