<%= form_for @user do |f| %>
   <div class="field">
     <%= f.label :firstname %><br />
     <%= f.text_field :firstname %>
   </div>

   <div class="field">
     <%= f.label :lastname %><br />
     <%= f.text_field :lastname %>
   </div>

   <div class="field">
     <%= f.label :email %><br />
     <%= f.text_field :email %>
   </div>

   <div class="actions">
     <%= f.submit "Sign up" %>
   </div>
<% end %>